#mainheader {
    margin: auto;
    text-align: center;
}
#display {
    position: fixed;
    left: 15vw;;
    width: 70vw;
    text-align: center;
}
#controls{
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#move {
    text-align: center;
}

#rotate {
    text-align: center;
}