#mainheader {
    background-color: aquamarine;
    margin: auto;
    text-align: center;
}

#display {
    position: fixed;
    left: 15vw;;
    width: 30vw;
    text-align: center;
}

#controls {
    background-color: aliceblue;
    position: fixed;
    right: 0;
    height: 100vh;
    /* width: 30vw; */
}

.x, .y, .z, .r {
    width: 3vw;
}

#move {
    text-align: center;
}

#rotate {
    text-align: center;
}