body {
    background-color:black;    
}
#mainheader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7vh;
    background-image: linear-gradient(to bottom,black 1%, 
        grey 90%,black);

    text-align: center;
    color: white;
    font-size: 2.5rem;
    line-height: 7vh;
}

#display {
    position: fixed;
    top: 7vh;
    left: 0vw;
    width: 80vw;
    height: 93vh;
    text-align: center;
}
#canvas {
    position: fixed;
    left: 0vw;;
    height: 87vh;
    text-align: center;
    border: solid;
    border-color: grey;
}

#displayInfo{
    position: absolute;
    bottom:0;
    left: 0vw;
    width: 80vw;
    text-align: left;
    color: white;
    border: solid;
    border-color: grey;
}

#controls {
    background-color: white;
    position: fixed;
    top: 7vh;
    right: 0;
    height: 95vh;
    width: 20vw;
}

#objectsAndLightsources {
    overflow-y:scroll;
    height:64vh;
    border: solid;
    border-color: grey;
}

#lightsourceTitle, #objectTitle {
    font-weight: bold;
    border-bottom: solid;
    border-color: grey;
    border-width: 0.3vw;
}

#lightsourcesContainer, #objectContainer {
    border: solid;
    border-color: grey;
    border-width: 0.3vw;
    margin: 0.5vw;
}

#addObjectContainer, #addLightsourceContainer {
    margin: 0.5vw;   
}

#lightsourcesAndAdd {
    border-top: solid;
    border-color: grey;
    margin-top: 2vh;
}

#bottomControlls {
    position: absolute;
    bottom:0;
    height: 30vh;
    border: solid;
    border-color:grey; 
}

.x, .y, .z, .r, .intensity, #sceneNum {
    width: 3vw;
}

#move {
    text-align: center;
}

#rotate {
    text-align: center;
}